<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- user_info表 -->
<mapper namespace="com.equestrianism.api.dao.AssetInfoMapper">

    <!--返回Map-->
    <resultMap id="BaseResultMap" type="com.equestrianism.api.model.po.AssetInfoEntity">
        <id column="asset_id" property="assetId" jdbcType="VARCHAR"/>
        <result column="bar_code" property="barCode" jdbcType="VARCHAR"/>
        <result column="type_id" property="typeId" jdbcType="INTEGER"/>
        <result column="type_detail_id" property="typeDetailId" jdbcType="INTEGER"/>
        <result column="asset_type" property="assetType" jdbcType="INTEGER"/>
        <result column="asset_number" property="assetNumber" jdbcType="VARCHAR"/>
        <result column="asset_name" property="assetName" jdbcType="VARCHAR"/>
        <result column="price" property="price" jdbcType="INTEGER"/>
        <result column="acreage" property="acreage" jdbcType="VARCHAR"/>
        <result column="price_type" property="priceType" jdbcType="INTEGER"/>
        <result column="acquire_way" property="acquireWay" jdbcType="INTEGER"/>
        <result column="finance_accounts_date" property="financeAccountsDate" jdbcType="VARCHAR"/>
        <result column="tab_date" property="tabDate" jdbcType="VARCHAR"/>
        <result column="guarantee_date" property="guaranteeDate" jdbcType="VARCHAR"/>
        <result column="manage_department" property="manageDepartment" jdbcType="VARCHAR"/>
        <result column="manage_user" property="manageUser" jdbcType="VARCHAR"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <result column="purpose" property="purpose" jdbcType="VARCHAR"/>
        <result column="specification_model" property="specificationModel" jdbcType="VARCHAR"/>
        <result column="brand" property="brand" jdbcType="VARCHAR"/>
        <result column="voucher_number" property="voucherNumber" jdbcType="VARCHAR"/>
        <result column="purchase_organize" property="purchaseOrganize" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="delete_flag" property="deleteFlag" jdbcType="INTEGER"/>
        <result column="data_version" property="dataVersion" jdbcType="INTEGER"/>
        <result column="create_date" property="createDate" jdbcType="TIMESTAMP"/>
        <result column="update_date" property="updateDate" jdbcType="TIMESTAMP"/>
        <result column="inventory" property="inventory" jdbcType="INTEGER"/>
    </resultMap>

    <!--基本的sql查询字段 公共引用...-->
    <sql id="Base_Column_List">
        asset_id, bar_code, type_id, type_detail_id, asset_type, asset_number, asset_name, price, acreage, price_type, acquire_way,
        finance_accounts_date, tab_date, guarantee_date, manage_department, manage_user, remark, purpose, inventory,
        specification_model, brand, voucher_number, purchase_organize, status, delete_flag, data_version, create_date, update_date
    </sql>


    <insert id="insert" parameterType="com.equestrianism.api.model.po.AssetInfoEntity">
        INSERT INTO
            asset_info (
                asset_id,
                bar_code,
                type_id,
                type_detail_id,
                asset_type,
                asset_number,
                asset_name,
                inventory,
                price,
                acreage,
                price_type,
                acquire_way,
                finance_accounts_date,
                tab_date,
                guarantee_date,
                manage_department,
                manage_user,
                remark,
                purpose,
                specification_model,
                brand,
                voucher_number,
                purchase_organize,
                status,
                delete_flag,
                data_version,
                create_date
            ) VALUES (
                #{assetId, jdbcType=VARCHAR},
                #{barCode, jdbcType=VARCHAR},
                #{typeId, jdbcType=INTEGER},
                #{typeDetailId, jdbcType=INTEGER},
                #{assetType, jdbcType=INTEGER},
                #{assetNumber, jdbcType=VARCHAR},
                #{assetName, jdbcType=VARCHAR},
                #{inventory, jdbcType=INTEGER},
                #{price, jdbcType=VARCHAR},
                #{acreage, jdbcType=VARCHAR},
                #{priceType, jdbcType=INTEGER},
                #{acquireWay, jdbcType=INTEGER},
                #{financeAccountsDate, jdbcType=VARCHAR},
                #{tabDate, jdbcType=VARCHAR},
                #{guaranteeDate, jdbcType=VARCHAR},
                #{manageDepartment, jdbcType=VARCHAR},
                #{manageUser, jdbcType=VARCHAR},
                #{remark, jdbcType=VARCHAR},
                #{purpose, jdbcType=VARCHAR},
                #{specificationModel, jdbcType=VARCHAR},
                #{brand, jdbcType=VARCHAR},
                #{voucherNumber, jdbcType=VARCHAR},
                #{purchaseOrganize, jdbcType=VARCHAR},
                1,
                0,
                1,
                now()
            )
    </insert>

    <update id="updateBySelective" parameterType="com.equestrianism.api.model.po.AssetInfoEntity">
        UPDATE
            asset_info
        <set>
            <if test="typeId != null">
                type_id = #{typeId, jdbcType=INTEGER},
            </if>
            <if test="barCode != null and barCode != ''">
                bar_code = #{barCode, jdbcType=VARCHAR},
            </if>
            <if test="typeDetailId != null">
                type_detail_id = #{typeDetailId, jdbcType=INTEGER},
            </if>
            <if test="assetType != null">
                asset_type = #{assetType, jdbcType=INTEGER},
            </if>
            <if test="assetNumber != null and assetNumber != ''">
                asset_number = #{assetNumber, jdbcType=VARCHAR},
            </if>
            <if test="assetName != null and assetName != ''">
                asset_name = #{assetName, jdbcType=VARCHAR},
            </if>
            <if test="price != null and price != ''">
                price = #{price, jdbcType=VARCHAR},
            </if>
            <if test="acreage != null and acreage != ''">
                acreage = #{acreage, jdbcType=VARCHAR},
            </if>
            <if test="priceType != null">
                price_type = #{priceType, jdbcType=INTEGER},
            </if>
            <if test="acquireWay != null">
                acquire_way = #{acquireWay, jdbcType=INTEGER},
            </if>
            <if test="financeAccountsDate != null and financeAccountsDate != ''">
                finance_accounts_date = #{financeAccountsDate, jdbcType=VARCHAR},
            </if>
            <if test="tabDate != null and tabDate != ''">
                tab_date = #{tabDate, jdbcType=VARCHAR},
            </if>
            <if test="guaranteeDate != null and guaranteeDate != ''">
                guarantee_date = #{guaranteeDate, jdbcType=VARCHAR},
            </if>
            <if test="manageDepartment != null and manageDepartment != ''">
                manage_department = #{manageDepartment, jdbcType=VARCHAR},
            </if>
            <if test="manageUser != null and manageUser != ''">
                manage_user = #{manageUser, jdbcType=VARCHAR},
            </if>
            <if test="remark != null and remark != ''">
                remark = #{remark, jdbcType=VARCHAR},
            </if>
            <if test="purpose != null and purpose != ''">
                purpose = #{purpose, jdbcType=VARCHAR},
            </if>
            <if test="specificationModel != null and specificationModel != ''">
                specification_model = #{specificationModel, jdbcType=VARCHAR},
            </if>
            <if test="brand != null and brand != ''">
                brand = #{brand, jdbcType=VARCHAR},
            </if>
            <if test="voucherNumber != null and voucherNumber != ''">
                voucher_number = #{voucherNumber, jdbcType=VARCHAR},
            </if>
            <if test="purchaseOrganize != null and purchaseOrganize != ''">
                purchase_organize = #{purchaseOrganize, jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status, jdbcType=INTEGER},
            </if>
            <if test="deleteFlag != null">
                delete_flag = #{deleteFlag, jdbcType=INTEGER}
            </if>
        </set>
        WHERE
            asset_id = #{assetId, jdbcType=VARCHAR}
    </update>

    <select id="selectAssetInfoListByPage" parameterType="com.equestrianism.api.model.vo.asset_info.AssetInfoListVO"
            resultType="com.equestrianism.api.model.model.AssetInfoListModel">
        SELECT
            a.asset_id        assetId,
            b.type_name       typeName,
            c.type_detail_name        typeDetailName,
            a.asset_number    assetNumber,
            a.asset_name      assetName,
            a.price           price,
            a.acreage         acreage,
            d.item_value      priceTypeName,
            e.item_value      acquireWayName,
            a.finance_accounts_date   financeAccountsDate,
            a.tab_date        tabDate,
            a.guarantee_date  guaranteeDate,
            f.department_name departmentName,
            g.realname        realname,
            a.purpose         purpose,
            a.remark          remark,
            a.specification_model     specificationModel,
            a.brand           brand,
            a.voucher_number  voucherNumber,
            a.purchase_organize       purchaseOrganize,
            a.inventory       inventory,
            a.bar_code        barCode
        FROM
            asset_info a
        INNER JOIN
            asset_type_info b
        ON
            a.type_id = b.type_id
        INNER JOIN
            asset_type_detail c
        ON
            a.type_detail_id = c.type_detail_id
        INNER JOIN
            dictionary_detail d
        ON
            a.price_type = d.dictionary_detail_id
        INNER JOIN
            dictionary_detail e
        ON
            a.acquire_way = e.dictionary_detail_id
        INNER JOIN
            department_info f
        ON
            a.manage_department = f.department_id
        INNER JOIN
            user_info g
        ON
            a.manage_user = g.user_id
        WHERE
            a.delete_flag = 0
        AND
            a.asset_type = #{assetType, jdbcType=INTEGER}
        <if test="typeId != null">
            AND
            a.type_id = #{typeId, jdbcType=INTEGER}
        </if>
        <if test="typeDetailId != null">
            AND
            a.type_detail_id = #{typeDetailId, jdbcType=INTEGER}
        </if>
        <if test="assetName != null and assetName != ''">
            AND
            a.asset_name like CONCAT('%',#{assetName, jdbcType=VARCHAR},'%')
        </if>
        LIMIT
            #{beginIndex}, #{pageRecorders}
    </select>

    <select id="countAssetInfoListByPage" parameterType="com.equestrianism.api.model.vo.asset_type_detail.AssetTypeDetailListVO"
            resultType="java.lang.Integer">
        SELECT
            count(1)
        FROM
            asset_info
        WHERE
            delete_flag = 0
        AND
            asset_type = #{assetType, jdbcType=INTEGER}
        <if test="typeId != null">
            AND
            type_id = #{typeId, jdbcType=INTEGER}
        </if>
        <if test="typeDetailId != null">
            AND
            type_detail_id = #{typeDetailId, jdbcType=INTEGER}
        </if>
        <if test="assetName != null and assetName != ''">
            AND
            asset_name like CONCAT('%',#{assetName, jdbcType=VARCHAR},'%')
        </if>
    </select>

    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        SELECT
            <include refid="Base_Column_List"/>
        FROM
            asset_info
        WHERE
            asset_id = #{assetId, jdbcType=VARCHAR}
    </select>

    <select id="selectBySelective" parameterType="java.util.Map" resultMap="BaseResultMap">
        SELECT
            <include refid="Base_Column_List"/>
        FROM
            asset_info
        WHERE
            delete_flag = 0
        AND
            status = 1
        <if test="barCode != null and barCode != ''">
        AND
            bar_code = #{barCode, jdbcType=VARCHAR}
        </if>
        <if test="assetType != null">
        AND
            asset_type = #{assetType, jdbcType=INTEGER}
        </if>
    </select>

    <update id="inventory" parameterType="java.util.Map">
        UPDATE
            asset_info
        SET
            inventory = inventory + #{inventory, jdbcType=INTEGER}
        WHERE
            asset_id = #{assetId, jdbcType=VARCHAR}
        AND
            delete_flag = 0
        AND
            status = 1
        AND
            asset_type = #{assetType, jdbcType=INTEGER}
    </update>

</mapper>
