<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- user_info表 -->
<mapper namespace="com.equestrianism.api.dao.AssetDetailMapper">

    <!--返回Map-->
    <resultMap id="BaseResultMap" type="com.equestrianism.api.model.po.AssetDetailEntity">
        <id column="asset_detail_id" property="assetDetailId" jdbcType="VARCHAR"/>
        <result column="asset_id" property="assetId" jdbcType="VARCHAR"/>
        <result column="batch_number" property="batchNumber" jdbcType="VARCHAR"/>
        <result column="scrap_type" property="scrapType" jdbcType="INTEGER"/>
        <result column="create_user" property="create_user" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="delete_flag" property="deleteFlag" jdbcType="INTEGER"/>
        <result column="data_version" property="dataVersion" jdbcType="INTEGER"/>
        <result column="create_date" property="createDate" jdbcType="TIMESTAMP"/>
        <result column="update_date" property="updateDate" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!--基本的sql查询字段 公共引用...-->
    <sql id="Base_Column_List">
        asset_detail_id, asset_id, batch_number, scrap_type, create_user, status, delete_flag, data_version, create_date, update_date
    </sql>


    <insert id="insert" parameterType="com.equestrianism.api.model.po.AssetDetailEntity">
        INSERT INTO
            asset_detail (
                asset_detail_id,
                asset_id,
                batch_number,
                scrap_type,
                create_user,
                status,
                delete_flag,
                data_version,
                create_date
            ) VALUES (
                #{assetDetailId, jdbcType=VARCHAR},
                #{assetId, jdbcType=VARCHAR},
                #{batchNumber, jdbcType=VARCHAR},
                #{scrapType, jdbcType=INTEGER},
                #{createUser, jdbcType=VARCHAR},
                1,
                0,
                1,
                now()
            )
    </insert>

    <select id="selectAssetDetailListByPage" parameterType="com.equestrianism.api.model.vo.asset_detail.AssetDetailListVO"
            resultType="com.equestrianism.api.model.model.AssetDetailListModel">
        SELECT
            detail.asset_detail_id  assetDetailId,
            b.type_name             typeName,
            c.type_detail_name      typeDetailName,
            a.asset_number          assetNumber,
            a.asset_name            assetName,
            a.price                 price,
            a.acreage               acreage,
            d.item_value            priceTypeName,
            e.item_value            acquireWayName,
            a.finance_accounts_date   financeAccountsDate,
            a.tab_date              tabDate,
            a.guarantee_date        guaranteeDate,
            f.department_name       departmentName,
            g.realname              realname,
            a.purpose               purpose,
            a.remark                remark,
            a.specification_model   specificationModel,
            a.brand                 brand,
            a.voucher_number        voucherNumber,
            a.purchase_organize     purchaseOrganize,
            a.inventory             inventory,
            a.bar_code              barCode,
            detail.scrap_type       scrapType,
            a.scrap_date            scrapDate
        FROM
            asset_detail detail
        INNER JOIN
            asset_info a
        ON
            a.asset_id = detail.asset_id
        LEFT JOIN
            asset_type_info b
        ON
            a.type_id = b.type_id
        LEFT JOIN
            asset_type_detail c
        ON
            a.type_detail_id = c.type_detail_id
        LEFT JOIN
            dictionary_detail d
        ON
            a.price_type = d.dictionary_detail_id
        LEFT JOIN
            dictionary_detail e
        ON
            a.acquire_way = e.dictionary_detail_id
        LEFT JOIN
            department_info f
        ON
            a.manage_department = f.department_id
        LEFT JOIN
            user_info g
        ON
            a.manage_user = g.user_id
        WHERE
            a.delete_flag = 0
        AND
            a.asset_type = #{assetType, jdbcType=INTEGER}
        <if test="typeId != null">
            AND
            a.type_id = #{typeId, jdbcType=INTEGER}
        </if>
        <if test="typeDetailId != null">
            AND
            a.type_detail_id = #{typeDetailId, jdbcType=INTEGER}
        </if>
        <if test="assetName != null and assetName != ''">
            AND
            a.asset_name like CONCAT('%',#{assetName, jdbcType=VARCHAR},'%')
        </if>
        <if test="assetNumber != null and assetNumber != ''">
            AND
            a.asset_number LIKE concat( '%', #{assetNumber, jdbcType=VARCHAR}, '%')
        </if>
        <if test="barCode != null and barCode != ''">
            AND
            a.bar_code = #{barCode, jdbcType=VARCHAR}
        </if>
        ORDER BY detail.scrap_type ASC, a.scrap_date DESC
        LIMIT
        #{beginIndex}, #{pageRecorders}
    </select>

    <select id="selectAssetDetailList" parameterType="com.equestrianism.api.model.vo.asset_detail.AssetDetailListVO"
            resultType="com.equestrianism.api.model.model.AssetDetailListModel">
        SELECT
        detail.asset_detail_id  assetDetailId,
        b.type_name             typeName,
        c.type_detail_name      typeDetailName,
        a.asset_number          assetNumber,
        a.asset_name            assetName,
        a.price                 price,
        a.acreage               acreage,
        d.dictionary_detail_id            priceTypeName,
        e.dictionary_detail_id            acquireWayName,
        a.finance_accounts_date   financeAccountsDate,
        a.tab_date              tabDate,
        a.guarantee_date        guaranteeDate,
        f.department_name       departmentName,
        g.realname              realname,
        a.purpose               purpose,
        a.remark                remark,
        a.specification_model   specificationModel,
        a.brand                 brand,
        a.voucher_number        voucherNumber,
        a.purchase_organize     purchaseOrganize,
        a.inventory             inventory,
        a.bar_code              barCode,
        detail.scrap_type       scrapType,
        a.scrap_date            scrapDate
        FROM
        asset_detail detail
        INNER JOIN
        asset_info a
        ON
        a.asset_id = detail.asset_id
        LEFT JOIN
        asset_type_info b
        ON
        a.type_id = b.type_id
        LEFT JOIN
        asset_type_detail c
        ON
        a.type_detail_id = c.type_detail_id
        LEFT JOIN
        dictionary_detail d
        ON
        a.price_type = d.dictionary_detail_id
        LEFT JOIN
        dictionary_detail e
        ON
        a.acquire_way = e.dictionary_detail_id
        LEFT JOIN
        department_info f
        ON
        a.manage_department = f.department_id
        LEFT JOIN
        user_info g
        ON
        a.manage_user = g.user_id
        WHERE
        a.delete_flag = 0
        AND
        a.asset_type = #{assetType, jdbcType=INTEGER}
        <if test="typeId != null">
            AND
            a.type_id = #{typeId, jdbcType=INTEGER}
        </if>
        <if test="typeDetailId != null">
            AND
            a.type_detail_id = #{typeDetailId, jdbcType=INTEGER}
        </if>
        <if test="assetName != null and assetName != ''">
            AND
            a.asset_name like CONCAT('%',#{assetName, jdbcType=VARCHAR},'%')
        </if>
        <if test="assetNumber != null and assetNumber != ''">
            AND
            a.asset_number LIKE concat( '%', #{assetNumber, jdbcType=VARCHAR}, '%')
        </if>
        <if test="barCode != null and barCode != ''">
            AND
            a.bar_code = #{barCode, jdbcType=VARCHAR}
        </if>
        ORDER BY detail.scrap_type ASC, a.scrap_date DESC
    </select>

    <select id="countAssetDetailListByPage" parameterType="com.equestrianism.api.model.vo.asset_detail.AssetDetailListVO"
            resultType="java.lang.Integer">
        SELECT
            count(1)
        FROM
            asset_detail a,
            asset_info   b
        WHERE
            a.asset_id = b.asset_id
        AND
            b.delete_flag = 0
        AND
            b.asset_type = #{assetType, jdbcType=INTEGER}
        <if test="typeId != null">
            AND
                b.type_id = #{typeId, jdbcType=INTEGER}
        </if>
        <if test="typeDetailId != null">
            AND
                b.type_detail_id = #{typeDetailId, jdbcType=INTEGER}
        </if>
        <if test="assetName != null and assetName != ''">
            AND
                b.asset_name like CONCAT('%',#{assetName, jdbcType=VARCHAR},'%')
        </if>
        <if test="assetNumber != null and assetNumber != ''">
            AND
            b.asset_number LIKE concat( '%', #{assetNumber, jdbcType=VARCHAR}, '%')
        </if>
        <if test="barCode != null and barCode != ''">
            AND
            b.bar_code = #{barCode, jdbcType=VARCHAR}
        </if>
    </select>

    <update id="updateScrapType" parameterType="java.lang.String">
        UPDATE
            asset_detail
        SET
            scrap_type = 1
        WHERE
            asset_detail_id = #{assetDetailId, jdbcType=VARCHAR}
    </update>

    <select id="selectByPrimary" parameterType="java.lang.String" resultMap="BaseResultMap">
        SELECT
            <include refid="Base_Column_List"/>
        FROM
            asset_detail
        WHERE
            asset_detail_id = #{assetDetailId, jdbcType=VARCHAR}
    </select>

    <update id="updateBySelective" parameterType="com.equestrianism.api.model.po.AssetDetailEntity">
        UPDATE
            asset_detail
        <set>
            <if test="batchNumber != null and batchNumber != ''">
                batch_number = #{batchNumber, jdbcType=VARCHAR},
            </if>
            <if test="scrapType != null">
                scrap_type = #{scrapType, jdbcType=INTEGER}
            </if>
        </set>
        WHERE
            asset_detail_id = #{assetDetailId, jdbcType=VARCHAR}
    </update>

    <update id="updateTest" parameterType="java.util.Map">
        UPDATE
            asset_detail
        SET
            scrap_type = #{scrapType, jdbcType=INTEGER}
        WHERE
            asset_detail_id = #{assetDetailId, jdbcType=VARCHAR}
    </update>

</mapper>
