<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- user_info表 -->
<mapper namespace="com.equestrianism.api.dao.DictionaryDetailMapper">

    <!--返回Map-->
    <resultMap id="BaseResultMap" type="com.equestrianism.api.model.po.DictionaryDetailEntity">
        <id column="dictionary_detail_id" property="dictionaryDetailId" jdbcType="INTEGER"/>
        <result column="item_code" property="itemCode" jdbcType="VARCHAR"/>
        <result column="item_value" property="itemValue" jdbcType="VARCHAR"/>
        <result column="dictionary_id" property="dictionaryId" jdbcType="INTEGER"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="delete_flag" property="deleteFlag" jdbcType="INTEGER"/>
        <result column="data_version" property="dataVersion" jdbcType="INTEGER"/>
        <result column="create_date" property="createDate" jdbcType="TIMESTAMP"/>
        <result column="update_date" property="updateDate" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!--基本的sql查询字段 公共引用...-->
    <sql id="Base_Column_List">
        dictionary_detail_id, item_code, item_value, dictionary_id, status, delete_flag, data_version,
        create_date, update_date
    </sql>


    <insert id="insert" keyProperty="dictionaryDetailId" useGeneratedKeys="true" parameterType="com.equestrianism.api.model.po.DictionaryDetailEntity">
        INSERT INTO
            dictionary_detail (
                item_code,
                item_value,
                dictionary_id,
                status,
                delete_flag,
                data_version,
                create_date
            ) VALUES (
                #{itemCode, jdbcType=VARCHAR},
                #{itemValue, jdbcType=VARCHAR},
                #{dictionaryId, jdbcType=INTEGER},
                1,
                0,
                1,
                now()
            )
    </insert>

    <update id="updateBySelective" parameterType="com.equestrianism.api.model.po.DictionaryDetailEntity">
        UPDATE
            dictionary_detail
        <set>
            <if test="itemCode != null and itemCode != ''">
                item_code = #{itemCode, jdbcType=VARCHAR},
            </if>
            <if test="itemValue != null and itemValue != ''">
                item_value = #{itemValue, jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status, jdbcType=INTEGER},
            </if>
            <if test="deleteFlag != null">
                delete_flag = #{deleteFlag, jdbcType=INTEGER}
            </if>
        </set>
        WHERE
            dictionary_detail_id = #{dictionaryDetailId, jdbcType=INTEGER}
    </update>
    
    <select id="selectDictionaryDetailListByPage" parameterType="com.equestrianism.api.model.vo.dictionary_detail.DictionaryDetailListVO"
            resultType="com.equestrianism.api.model.model.DictionaryDetailListModel">
        SELECT
            dictionary_detail_id      dictionaryDetailId,
            item_code                 itemCode,
            item_value                itemValue,
            dictionary_id             dictionaryId
        FROM
            dictionary_detail
        WHERE
            delete_flag = 0
        AND
            dictionary_id = #{dictionaryId, jdbcType=INTEGER}
        LIMIT
            #{beginIndex}, #{pageRecorders}
    </select>

    <select id="countDictionaryDetailListByPage" parameterType="com.equestrianism.api.model.vo.dictionary_detail.DictionaryDetailListVO"
            resultType="java.lang.Integer">
        SELECT
            count(1)
        FROM
            dictionary_detail
        WHERE
            delete_flag = 0
        AND
            dictionary_id = #{dictionaryId, jdbcType=INTEGER}
    </select>

    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        SELECT
            <include refid="Base_Column_List"/>
        FROM
            dictionary_detail
        WHERE
            dictionary_detail_id = #{dictionaryDetailId, jdbcType=INTEGER}
    </select>

    <select id="selectDictionaryDetailListByDictionaryId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        SELECT
            <include refid="Base_Column_List"/>
        FROM
            dictionary_detail
        WHERE
            dictionary_id = #{dictionaryId, jdbcType=INTEGER}
    </select>

    <select id="selectDictionaryDetailListByCondition" parameterType="com.equestrianism.api.model.po.DictionaryDetailEntity"
            resultMap="BaseResultMap">
        SELECT
            <include refid="Base_Column_List"/>
        FROM
            dictionary_detail
        WHERE
            dictionary_id = #{dictionaryId, jdbcType=INTEGER}
        AND
            item_value = #{itemValue, jdbcType=VARCHAR}
        limit 0, 1
    </select>

    <select id="selectLast" parameterType="java.lang.Integer"
            resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        dictionary_detail
        WHERE
        dictionary_id = #{dictionaryId, jdbcType=INTEGER}
        order BY dictionary_detail_id DESC
        limit 0, 1
    </select>

</mapper>
