<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- user_info表 -->
<mapper namespace="com.equestrianism.api.dao.DictionaryInfoMapper">

    <!--返回Map-->
    <resultMap id="BaseResultMap" type="com.equestrianism.api.model.po.DictionaryInfoEntity">
        <id column="dictionary_id" property="dictionaryId" jdbcType="INTEGER"/>
        <result column="type_code" property="typeCode" jdbcType="VARCHAR"/>
        <result column="type_name" property="typeName" jdbcType="VARCHAR"/>
        <result column="sort" property="sort" jdbcType="INTEGER"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="delete_flag" property="deleteFlag" jdbcType="INTEGER"/>
        <result column="data_version" property="dataVersion" jdbcType="INTEGER"/>
        <result column="create_date" property="createDate" jdbcType="TIMESTAMP"/>
        <result column="update_date" property="updateDate" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!--基本的sql查询字段 公共引用...-->
    <sql id="Base_Column_List">
        dictionary_id, type_code, type_name, sort, remark, status, delete_flag, data_version, create_date,
        update_date
    </sql>


    <insert id="insert" parameterType="com.equestrianism.api.model.po.DictionaryInfoEntity">
        INSERT INTO
            dictionary_info (
                type_code,
                type_name,
                sort,
                remark,
                status,
                delete_flag,
                data_version,
                create_date
            ) VALUES (
                #{typeCode, jdbcType=VARCHAR},
                #{typeName, jdbcType=VARCHAR},
                #{sort, jdbcType=INTEGER},
                #{remark, jdbcType=VARCHAR},
                1,
                0,
                1,
                now()
            )
    </insert>

    <update id="updateBySelective" parameterType="com.equestrianism.api.model.vo.dictionary_info.DictionaryInfoUpdateVO">
        UPDATE
            dictionary_info
        <set>
            <if test="typeCode != null and typeCode != ''">
                type_code = #{typeCode, jdbcType=VARCHAR},
            </if>
            <if test="typeName != null and typeName != ''">
                type_name = #{typeName, jdbcType=VARCHAR},
            </if>
            <if test="sort != null">
                sort = #{sort, jdbcType=INTEGER},
            </if>
            <if test="remark != null and remark != ''">
                remark = #{remark, jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status, jdbcType=INTEGER},
            </if>
            <if test="deleteFlag != null">
                delete_flag = #{deleteFlag, jdbcType=INTEGER}
            </if>
        </set>
        WHERE
            dictionary_id = #{dictionaryId, jdbcType=INTEGER}
    </update>

</mapper>
