<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- user_info表 -->
<mapper namespace="com.equestrianism.api.dao.HorsePrizeInfoMapper">

    <!--返回Map-->
    <resultMap id="BaseResultMap" type="com.equestrianism.api.model.po.HorsePrizeInfoEntity">
        <id column="horse_prize_id" property="horsePrizeId" jdbcType="VARCHAR"/>
        <result column="horse_id" property="horseId" jdbcType="VARCHAR"/>
        <result column="event_name" property="eventName" jdbcType="VARCHAR"/>
        <result column="event_date" property="eventDate" jdbcType="VARCHAR"/>
        <result column="event_place" property="eventPlace" jdbcType="VARCHAR"/>
        <result column="prize_name" property="prizeName" jdbcType="VARCHAR"/>
        <result column="penalty_term" property="penaltyTerm" jdbcType="VARCHAR"/>
        <result column="awarder" property="awarder" jdbcType="VARCHAR"/>
        <result column="desc_image" property="descImage" jdbcType="BLOB"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="delete_flag" property="deleteFlag" jdbcType="INTEGER"/>
        <result column="data_version" property="dataVersion" jdbcType="INTEGER"/>
        <result column="create_date" property="createDate" jdbcType="TIMESTAMP"/>
        <result column="update_date" property="updateDate" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!--基本的sql查询字段 公共引用...-->
    <sql id="Base_Column_List">
        horse_prize_id, horse_id, event_name, event_date, event_place, penalty_term, awarder,
        desc_image, status, delete_flag, data_version, create_date, update_date
    </sql>

    <insert id="insert" parameterType="com.equestrianism.api.model.po.HorsePrizeInfoEntity">
        INSERT INTO
            horse_prize_info (
                horse_prize_id,
                horse_id,
                event_name,
                event_date,
                event_place,
                prize_name,
                penalty_term,
                awarder,
                desc_image,
                status,
                delete_flag,
                data_version,
                create_date
            ) VALUES (
                #{horsePrizeId, jdbcType=VARCHAR},
                #{horseId, jdbcType=VARCHAR},
                #{eventName, jdbcType=VARCHAR},
                #{eventDate, jdbcType=VARCHAR},
                #{eventPlace, jdbcType=VARCHAR},
                #{prizeName, jdbcType=VARCHAR},
                #{penaltyTerm, jdbcType=VARCHAR},
                #{awarder, jdbcType=VARCHAR},
                #{descImage, jdbcType=BLOB},
                1,
                0,
                1,
                now()
            )
    </insert>

    <update id="updateBySelective" parameterType="com.equestrianism.api.model.po.HorsePrizeInfoEntity">
        UPDATE
            horse_prize_info
        <set>
            <if test="eventName != null and eventName != ''">
                event_name = #{eventName, jdbcType=VARCHAR},
            </if>
            <if test="eventDate != null and eventDate != ''">
                event_date = #{eventDate, jdbcType=VARCHAR},
            </if>
            <if test="eventPlace != null and eventPlace != ''">
                event_place = #{eventPlace, jdbcType=VARCHAR},
            </if>
            <if test="prizeName != null and prizeName != ''">
                prize_name = #{prizeName, jdbcType=VARCHAR},
            </if>
            <if test="penaltyTerm != null and penaltyTerm != ''">
                penalty_term = #{penaltyTerm, jdbcType=VARCHAR},
            </if>
            <if test="awarder != null and awarder != ''">
                awarder = #{awarder, jdbcType=VARCHAR},
            </if>
            <if test="descImage != null and descImage != ''">
                desc_image = #{descImage, jdbcType=BLOB},
            </if>
            <if test="status != null">
                status = #{status, jdbcType=INTEGER},
            </if>
            <if test="deleteFlag != null">
                delete_flag = #{deleteFlag, jdbcType=INTEGER}
            </if>
        </set>
        WHERE
            horse_prize_id = #{horsePrizeId, jdbcType=VARCHAR}
    </update>

    <select id="selectHorsePrizeInfoListByPage" parameterType="com.equestrianism.api.model.vo.horse_prize_info.HorsePrizeInfoListVO"
            resultType="com.equestrianism.api.model.model.HorsePrizeInfoListModel">
        SELECT
            a.horse_prize_id        horsePrizeId,
            b.horse_name            horseName,
            a.event_date            eventDate,
            a.event_name            eventName,
            a.event_place           eventPlace,
            a.prize_name            prizeName,
            a.penalty_term          penaltyTerm
        FROM
            horse_prize_info a
        LEFT JOIN
            horse_info b
        ON
            a.horse_id = b.horse_id
        WHERE
            a.delete_flag = 0
        <if test="horseId != null and horseId != ''">
            AND
                a.horse_id = #{horseId, jdbcType=VARCHAR}
        </if>
        <if test="eventDate != null and eventDate != ''">
            AND
                a.event_date = #{eventDate, jdbcType=VARCHAR}
        </if>
        <if test="eventName != null and eventName != ''">
            AND
                a.event_name like CONCAT('%',#{eventName, jdbcType=VARCHAR},'%')
        </if>
        limit #{beginIndex}, #{pageRecorders}
    </select>

    <select id="countHorsePrizeInfoListByPage" parameterType="com.equestrianism.api.model.vo.horse_prize_info.HorsePrizeInfoListVO"
            resultType="java.lang.Integer">
        SELECT
            count(1)
        FROM
            horse_prize_info a
        LEFT JOIN
            horse_info b
        ON
            a.horse_id = b.horse_id
        WHERE
            a.delete_flag = 0
        <if test="horseId != null and horseId != ''">
            AND
                a.horse_id = #{horseId, jdbcType=VARCHAR}
        </if>
        <if test="eventDate != null and eventDate != ''">
            AND
                a.event_date = #{eventDate, jdbcType=VARCHAR}
        </if>
        <if test="eventName != null and eventName != ''">
            AND
                a.event_name like CONCAT('%',#{eventName, jdbcType=VARCHAR},'%')
        </if>
    </select>

    <select id="selectHorsePrizeInfoByDetail" parameterType="java.lang.String"
            resultType="com.equestrianism.api.model.bo.HorsePrizeInfoDetailBO">
        SELECT
            a.horse_prize_id        horsePrizeId,
            a.horse_id              horseId,
            a.event_date            eventDate,
            a.event_name            eventName,
            a.event_place           eventPlace,
            a.prize_name            prizeName,
            a.penalty_term          penaltyTerm
        FROM
            horse_prize_info a
        WHERE
            a.horse_prize_id = #{horsePrizeId, jdbcType=VARCHAR}
    </select>

</mapper>
