<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- user_info表 -->
<mapper namespace="com.equestrianism.api.dao.UserInfoMapper">

    <!--返回Map-->
    <resultMap id="BaseResultMap" type="com.equestrianism.api.model.po.UserInfoEntity">
        <id column="user_id" property="userId" jdbcType="VARCHAR"/>
        <result column="job_number" property="jobNumber" jdbcType="VARCHAR"/>
        <result column="realname" property="realname" jdbcType="VARCHAR"/>
        <result column="login_name" property="loginName" jdbcType="VARCHAR"/>
        <result column="login_password" property="loginPassword" jdbcType="VARCHAR"/>
        <result column="department_id" property="departmentId" jdbcType="VARCHAR"/>
        <result column="role_id" property="roleId" jdbcType="VARCHAR"/>
        <result column="e_mail" property="email" jdbcType="VARCHAR"/>
        <result column="contact_way" property="contactWay" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="delete_flag" property="deleteFlag" jdbcType="INTEGER"/>
        <result column="data_version" property="dataVersion" jdbcType="INTEGER"/>
        <result column="create_date" property="createDate" jdbcType="TIMESTAMP"/>
        <result column="create_user" property="createUser" jdbcType="VARCHAR"/>
        <result column="update_date" property="updateDate" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!--基本的sql查询字段 公共引用...-->
    <sql id="Base_Column_List">
        user_id, job_number, realname, login_name, login_password, department_id, role_id, e_mail,
        contact_way, status, delete_flag, data_version, create_date, create_user, update_date
    </sql>

    <!-- 基本的sql查询条件公共引用 -->
    <sql id="searchBy">
        <trim prefix="where" prefixOverrides="and|or">
            <if test="userId != null and userId != ''">
                AND
                    user_id = #{userId, jdbcType=VARCHAR}
            </if>
            <if test="jobNumber != null and jobNumber != ''">
                AND
                    job_number LIKE CONCAT('%',#{jobNumber, jdbcType=VARCHAR},'%')
            </if>
            <if test="realname != null and realname != ''">
                AND
                    realname LIKE CONCAT('%',#{realname, jdbcType=VARCHAR},'%')
            </if>
            <if test="loginName !=null and loginName != ''">
                AND
                    login_name = #{loginName, jdbcType=VARCHAR}
            </if>
            <if test="loginPassword !=null and loginPassword != ''">
                AND
                    login_password = #{loginPassword, jdbcType=VARCHAR}
            </if>
            <if test="departmentId != null and departmentId != ''">
                AND
                    department_id = #{departmentId, jdbcType=VARCHAR}
            </if>
            <if test="roleId != null and roleId != ''">
                AND
                    role_id = #{roleId, jdbcType=VARCHAR}
            </if>
            <if test="status != null">
                AND
                    status = #{status, jdbcType=INTEGER}
            </if>
            <if test="deleteFlag != null">
                AND
                    delete_flag = #{deleteFlag, jdbcType=INTEGER}
            </if>
        </trim>
    </sql>

    <insert id="insert" parameterType="com.equestrianism.api.model.po.UserInfoEntity">
        INSERT INTO
            user_info (
                user_id,
                job_number,
                realname,
                login_name,
                login_password,
                department_id,
                role_id,
                e_mail,
                contact_way,
                status,
                delete_flag,
                data_version,
                create_date,
                create_user
            ) VALUES (
                #{userId, jdbcType=VARCHAR},
                #{jobNumber, jdbcType=VARCHAR},
                #{realname, jdbcType=VARCHAR},
                #{loginName, jdbcType=VARCHAR},
                #{loginPassword, jdbcType=VARCHAR},
                #{departmentId, jdbcType=VARCHAR},
                #{roleId, jdbcType=VARCHAR},
                #{email, jdbcType=VARCHAR},
                #{contactWay, jdbcType=VARCHAR},
                1,
                0,
                1,
                now(),
                #{createUser, jdbcType=VARCHAR}
            )
    </insert>

    <update id="updateBySelective" parameterType="com.equestrianism.api.model.po.UserInfoEntity">
        UPDATE
            user_info
        <set>
            <if test="jobNumber != null and jobNumber != ''">
                job_number = #{jobNumber, jdbcType=VARCHAR},
            </if>
            <if test="realname != null and realname != ''">
                realname = #{realname, jdbcType=VARCHAR},
            </if>
            <if test="loginName != null and loginName != ''">
                login_name = #{loginName, jdbcType=VARCHAR},
            </if>
            <if test="loginPassword != null and loginPassword != ''">
                login_password = #{loginPassword, jdbcType=VARCHAR},
            </if>
            <if test="departmentId != null and departmentId != ''">
                department_id = #{departmentId, jdbcType=VARCHAR},
            </if>
            <if test="roleId != null and roleId != ''">
                role_id = #{roleId, jdbcType=VARCHAR},
            </if>
            <if test="email != null and email != ''">
                e_mail = #{email, jdbcType=VARCHAR},
            </if>
            <if test="contactWay != null and contactWay != ''">
                contact_way = #{contactWay, jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status, jdbcType=INTEGER},
            </if>
            <if test="deleteFlag != null">
                delete_flag = #{deleteFlag, jdbcType=INTEGER}
            </if>
        </set>
        WHERE
            user_id = #{userId, jdbcType=VARCHAR}
    </update>

    <select id="selectUserListByPage" parameterType="com.equestrianism.api.model.vo.UserInfoListVO" resultType="com.equestrianism.api.model.model.UserInfoListModel">
        SELECT
            a.user_id           userId,
            a.job_number        jobNumber,
            a.realname          realname,
            a.login_name        loginName,
            a.contact_way       contactWay,
            a.e_mail            email,
            a.status            status,
            b.role_name         roleName,
            c.department_name   departmentName
        FROM
            user_info a,
            role_info b,
            department_info c
        WHERE
            a.role_id = b.role_id
        AND
            a.department_id = c.department_id
        AND
            a.delete_flag = 0
        <if test="jobNumber != null and jobNumber != ''">
            AND
                a.job_number = #{jobNumber, jdbcType=VARCHAR}
        </if>
        <if test="realname != null and realname != ''">
            AND
                a.realname LIKE CONCAT('%',#{realname, jdbcType=VARCHAR},'%')
        </if>
        <if test="status != null">
            AND
                a.status = #{status, jdbcType=INTEGER}
        </if>
        <if test="departmentId != null and departmentId != ''">
            AND
                a.department_id = #{departmentId, jdbcType=VARCHAR}
        </if>
        <if test="roleId != null and roleId != ''">
            AND
                a.role_id = #{roleId, jdbcType=VARCHAR}
        </if>
        limit #{beginIndex}, #{pageRecorders}
    </select>

    <select id="countUserListByPage" parameterType="com.equestrianism.api.model.vo.UserInfoListVO" resultType="java.lang.Integer">
        SELECT
            IFNULL( count(1), 0 )
        FROM
            user_info a,
            role_info b,
            department_info c
        WHERE
            a.role_id = b.role_id
        AND
            a.department_id = c.department_id
        AND
            a.delete_flag = 0
        <if test="jobNumber != null and jobNumber != ''">
            AND
                a.job_number = #{jobNumber, jdbcType=VARCHAR}
        </if>
        <if test="realname != null and realname != ''">
            AND
                a.realname LIKE CONCAT('%',#{realname, jdbcType=VARCHAR},'%')
        </if>
        <if test="status != null">
            AND
                a.status = #{status, jdbcType=INTEGER}
        </if>
        <if test="departmentId != null and departmentId != ''">
            AND
                a.department_id = #{departmentId, jdbcType=VARCHAR}
        </if>
        <if test="roleId != null and roleId != ''">
            AND
                a.role_id = #{roleId, jdbcType=VARCHAR}
        </if>
    </select>

    <select id="selectUserInfoByUserId" parameterType="java.lang.String" resultType="com.equestrianism.api.model.bo.UserInfoDetailBO">
        SELECT
            user_id           userId,
            job_number        jobNumber,
            login_name        loginName,
            realname          realname,
            department_id     departmentId,
            role_id           roleId,
            contact_way       contactWay,
            e_mail            email,
            status            status
        FROM
            user_info
        WHERE
            user_id = #{userId, jdbcType=VARCHAR}
    </select>

    <select id="selectUserListByRole" parameterType="java.lang.String"
            resultType="com.equestrianism.api.model.model.UserInfoVeterinarianModel">
        SELECT
            a.user_id       userId,
            a.realname      realname
        FROM
            user_info a,
            role_info b
        WHERE
            a.status = 1
        AND
            a.delete_flag = 0
        AND
            a.role_id = b.role_id
        AND
            b.short_name = #{shortName, jdbcType=VARCHAR}
    </select>

    <select id="selectUserListByComboBox" parameterType="java.lang.String"
            resultType="com.equestrianism.api.model.model.UserInfoComboBoxModel">
        SELECT
            user_id     userId,
            realname    realname
        FROM
            user_info
        WHERE
            delete_flag = 0
        AND
            status = 1
        AND
            department_id = #{departmentId, jdbcType=VARCHAR}
    </select>

    <select id="selectByCondition" parameterType="com.equestrianism.api.model.po.UserInfoEntity" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
            user_info
        WHERE
            status = 1
        AND
            delete_flag = 0
        AND
            login_name = #{loginName, jdbcType=VARCHAR}
        AND
            login_password = #{loginPassword, jdbcType=VARCHAR}
    </select>

    <select id="selectByRealName" parameterType="java.lang.String" resultType="com.equestrianism.api.model.bo.UserInfoDetailBO">
        SELECT
        user_id           userId,
        job_number        jobNumber,
        login_name        loginName,
        realname          realname,
        department_id     departmentId,
        role_id           roleId,
        contact_way       contactWay,
        e_mail            email,
        status            status
        FROM
        user_info
        WHERE
        realname = #{realName, jdbcType=VARCHAR}
    </select>

</mapper>
