<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- user_info表 -->
<mapper namespace="com.equestrianism.api.dao.VaccinationInfoMapper">

    <!--返回Map-->
    <resultMap id="BaseResultMap" type="com.equestrianism.api.model.po.VaccinationInfoEntity">
        <id column="vaccination_id" property="vaccinationId" jdbcType="VARCHAR"/>
        <result column="horse_id" property="horseId" jdbcType="VARCHAR"/>
        <result column="user_id" property="userId" jdbcType="VARCHAR"/>
        <result column="operate_date" property="operateDate" jdbcType="VARCHAR"/>
        <result column="operate_place" property="operatePlace" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="vaccination_name" property="vaccinationName" jdbcType="VARCHAR"/>
        <result column="vaccination_number" property="vaccinationNumber" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="delete_flag" property="deleteFlag" jdbcType="INTEGER"/>
        <result column="data_version" property="dataVersion" jdbcType="INTEGER"/>
        <result column="create_date" property="createDate" jdbcType="TIMESTAMP"/>
        <result column="update_date" property="updateDate" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!--基本的sql查询字段 公共引用...-->
    <sql id="Base_Column_List">
        vaccination_id, horse_id, user_id, operate_date, operate_place, name, vaccination_name,
        vaccination_number, status, delete_flag, data_version, create_date, update_date
    </sql>


    <insert id="insert" parameterType="com.equestrianism.api.model.po.VaccinationInfoEntity">
        INSERT INTO
            vaccination_info (
                vaccination_id,
                horse_id,
                user_id,
                operate_date,
                operate_place,
                name,
                vaccination_name,
                vaccination_number,
                status,
                delete_flag,
                data_version,
                create_date
            ) VALUES (
                #{vaccinationId, jdbcType=VARCHAR},
                #{horseId, jdbcType=VARCHAR},
                #{userId, jdbcType=VARCHAR},
                #{operateDate, jdbcType=VARCHAR},
                #{operatePlace, jdbcType=VARCHAR},
                #{name, jdbcType=VARCHAR},
                #{vaccinationName, jdbcType=VARCHAR},
                #{vaccinationNumber, jdbcType=VARCHAR},
                1,
                0,
                1,
                now()
            )
    </insert>

    <update id="updateBySelective" parameterType="com.equestrianism.api.model.po.VaccinationInfoEntity">
        UPDATE
            vaccination_info
        <set>
            <if test="horseId != null and horseId != ''">
                horse_id = #{horseId, jdbcType=VARCHAR},
            </if>
            <if test="userId != null and userId != ''">
                user_id = #{userId, jdbcType=VARCHAR},
            </if>
            <if test="operateDate != null and operateDate != ''">
                operate_date = #{operateDate, jdbcType=VARCHAR},
            </if>
            <if test="operatePlace != null and operatePlace != ''">
                operate_place = #{operatePlace, jdbcType=VARCHAR},
            </if>
            <if test="name != null and name != ''">
                name = #{name, jdbcType=VARCHAR},
            </if>
            <if test="vaccinationName != null and vaccinationName != ''">
                vaccination_name = #{vaccinationName, jdbcType=VARCHAR},
            </if>
            <if test="vaccinationNumber != null and vaccinationNumber != ''">
                vaccination_number = #{vaccinationNumber, jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status, jdbcType=INTEGER},
            </if>
            <if test="deleteFlag != null">
                delete_flag = #{deleteFlag, jdbcType=INTEGER}
            </if>
        </set>
        WHERE
            vaccination_id = #{vaccinationId, jdbcType=VARCHAR}
    </update>

    <select id="selectVaccinationInfoListByPage" parameterType="com.equestrianism.api.model.vo.vaccination_info.VaccinationInfoListVO"
            resultType="com.equestrianism.api.model.model.VaccinationInfoListModel">
        SELECT
            a.vaccination_id      vaccinationId,
            a.operate_date        operateDate,
            a.operate_place       operatePlace,
            a.name                name,
            a.vaccination_name    vaccinationName,
            a.vaccination_number  vaccinationNumber,
            b.horse_name          horseName,
            c.realname            realname
        FROM
            vaccination_info a,
            horse_info b,
            user_info c
        WHERE
            a.delete_flag = 0
        AND
            a.horse_id = b.horse_id
        AND
            a.user_id = c.user_id
        <if test="horseId != null and horseId != ''">
            AND
                a.horse_id = #{horseId, jdbcType=VARCHAR}
        </if>
        limit #{beginIndex}, #{pageRecorders}
    </select>

    <select id="countVaccinationInfoListByPage" parameterType="com.equestrianism.api.model.vo.vaccination_info.VaccinationInfoListVO"
            resultType="java.lang.Integer">
        SELECT
            count(1)
        FROM
            vaccination_info
        WHERE
            delete_flag = 0
        AND
            status = 1
        <if test="horseId != null and horseId != ''">
            AND
                horse_id = #{horseId, jdbcType=VARCHAR}
        </if>
    </select>

    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        SELECT
            <include refid="Base_Column_List"/>
        FROM
            vaccination_info
        WHERE
            vaccination_id = #{vaccinationId, jdbcType=VARCHAR}
    </select>

</mapper>
